.lc-container{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height:100%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: white;
    text-align: left;
}
.test{
    background-color: red;
}
.blank{
    background-color: white; 
}
.lc-task{
    overflow: hidden;
    user-select: none;
    border-radius: 3px;
    z-index: 5;
}
.lc-task:hover{
    overflow: visible;
}
.lc-stamp{
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 0px;
    background-color: transparent;
    border-right: 1px dashed rgba(75, 75, 75, 0.514)
    
}